//@import "compass/css3";
// style reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
html {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}
a img {
  border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
body {
  -webkit-text-size-adjust: 100%;
}
input[type=submit],
input[type=text],
input[type=password],
input[type=file],
textarea {
  -webkit-appearance: none;
}
textarea,
input[type=submit],
input[type=text] {
  -webkit-border-radius: 0;
}
input[type="image"] {
  padding: 0;
  border: none;
}
img {
  border: none;
}
form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}
input, textarea, select {
  font: 100% "Lucida Grande", arial, sans-serif;
  vertical-align: middle;
  color: #000;
}
label {
  vertical-align: middle;
}
input:focus {
  outline: none;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
img {
  border:none;
}
@font-face {
  font-family:'Purista-Light';
  src: url('../fonts/Purista-Light_gdi.eot');
  src: url('../fonts/Purista-Light_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Purista-Light_gdi.woff') format('woff'),
  url('../fonts/Purista-Light_gdi.ttf') format('truetype'),
  url('../fonts/Purista-Light_gdi.svg#Purista-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2265;
}
@font-face {
  font-family:'Purista-SemiBold';
  src: url('../fonts/Purista-SemiBold_gdi.eot');
  src: url('../fonts/Purista-SemiBold_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Purista-SemiBold_gdi.woff') format('woff'),
  url('../fonts/Purista-SemiBold_gdi.ttf') format('truetype'),
  url('../fonts/Purista-SemiBold_gdi.svg#Purista-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2265;
}
@font-face {
  font-family:'LucidaSansUnicode-Regular';
  src: url('../fonts/LucidaSansUnicode_gdi.eot');
  src: url('../fonts/LucidaSansUnicode_gdi.eot?#iefix') format('embedded-opentype'),
  url('../fonts/LucidaSansUnicode_gdi.woff') format('woff'),
  url('../fonts/LucidaSansUnicode_gdi.ttf') format('truetype'),
  url('../fonts/LucidaSansUnicode_gdi.otf') format('opentype'),
  url('../fonts/LucidaSansUnicode_gdi.svg#LucidaSansUnicode-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2666;
}
html, body {
  height: 100%;
}
body {
  font:$fontSize $fontMain, sans-serif;
  line-height:1.5;
  margin:0;
  background:#fff;
  color:$textColor;
  min-width: $siteMinWidth;
  width: 100%;
  height: 100%;
}
a {
  color: $addTextColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
h2 {
  font-size: 45px;
  font-weight: bold;
  margin: 0 0 28px;
  color: $mainColor;
  line-height: 1.15;
}
h3, h4 {
  font-size: 25px;
  color: $textColor;
  font-family: $fontHeadings;
  margin: 0 0 15px;
  line-height: 1.25;
}
h4 {
  font-size: 16px;
}
p {
  margin: 0 0 15px;
}
input[type="text"],
input[type="submit"],
textarea {
  width: 100%;
  max-width: 100% !important;
  border: 1px solid #a9a9a9;
  padding: 3px 3px;
  @include box-sizing(border-box);
  line-height: 20px;
  font: $fontSize - 1px $fontMain, Arial, sans-serif;
  &:active,
  &:focus {
    border-color: #22c3f2;
  }
}
input[type="submit"] {
  font-size:$fontSize + 4px;
  width:auto;
  padding:0 25px;
  border: none;
  outline: none;
  cursor: pointer;
}
dl {
  overflow: hidden;
  dt {
    float: left;
    margin:0 4px 0 0;
    clear: left;
  }
  dd {
    float: left;
  }
}
