doctype html
html
  head
      title BIIR - Lean Engineering | Contact
      include ./includes/meta.jade
  body
    .wrapper
      - var page = 'contact'
      include ./includes/header.jade
      section.middle
          h2
              | Interested in
              span.blue  growing your business?
          p We have established a strong team of amazingly talented designers and engineers, specializing in a close collaboration with our clients, usually working directly from their offices as integrated team members. We can bring a project from first idea generation to market launch.
          p Get in touch to find out how we can help develop your business.
          .contact-box
              h3 BIIR
              address Holger Drachmanns vej 9
                  br
                  | 8000 Århus C
                  br
                  | Denmark
          // .contact-box
          .contact-box
              h4 Visiting address:
              address Dusager 10
                  br
                  | 8200 Århus N
                  br
                  | Denmark
          // .contact-box
          .contact-box
              h4 Other sites:
              dl
                  dt Denmark:
                  dd Esbjerg
                  dt Ukraine:
                  dd Odessa
          // .contact-box
          .contact-box
              dl
                  dt Get in touch:
                  dd
                    a(href='mailto:&#109;&#097;&#105;&#108;&#064;&#098;&#105;&#105;&#114;&#046;&#100;&#107;') &#109;&#097;&#105;&#108;&#064;&#098;&#105;&#105;&#114;&#046;&#100;&#107;
          // .contact-box
          .contact-box
              dl
                  dt
                      h4 BIIR kontor:
                  dd
                    a.tel(href='tel:+4541770700') +45 41 77 07 00
          // .contact-box
      // .middle
    include ./includes/footer.jade
