doctype html
html
  head
      title BIIR - Lean Engineering
      include ./includes/meta.jade
  body
    .wrapper
        include ./includes/header.jade
        .promo-logo-holder
            img(src='images/main-promo-logo.png', alt="BIIR - Let's work together. Design and Engineering")
        // .promo-logo-holder
    // .wrapper
    include ./includes/footer.jade
