doctype html
html
  head
    title BIIR - Lean Engineering | Intranet
    meta(http-equiv='refresh', content='0; url=https://sites.google.com/a/biir.dk/intranet/')
  body
    p
      a(https:='', sites.google.com='', a='', biir.dk='', intranet='') Redirect to intranet
