doctype html
html
  head
      title BIIR - Lean Engineering | Services
      include ./includes/meta.jade
  body
    .wrapper
      - var page = 'services'
      include ./includes/header.jade
      section.middle
          h2
              | Let's work together to achieve your
              span.blue  business goals
          .services-box
              .l-holder
                  .l-33-fl
                      h3 Product Development
                      h4 From Idea generation to launch
                      p
                          | Mechanical Design & Development
                          br
                          | Software Design & Development
                          br
                          | Electrical, Electronics Design & Development
                          br
                          | FEM & simulations
                          br
                          | Mechatronics Design & Development
                          br
                          | Industrial Design
                  .l-33-fl
                      h3 Project Management
                      h4 Meeting time, cost and quality targets
                      p
                          | Project Leadership (Execution)
                          br
                          | Project Methodology (Prince2 & Scrum)
                  .l-33-fl
                      h3 Production Technology
                      h4 Transition of design to production environment
                      p
                          | New Product Introduction (NPI)
                          br
                          | Automation and Special Equipment Design
              // .l-holder
              .l-holder
                  .l-33-fl
                      h3 Quality
                      h4 Product performance and critical product characteristics
                      p
                          | Six Sigma Methodology
                          br
                          | Project Management
                          br
                          | Production Part approval Process (PPAP)
                  .l-33-fl
                      h3 Management
                      h4 Interim management of cross-functional &amp; functional teams
                      p
                          | People Management
                          br
                          | Change Management
                          br
                          | Business Understanding & Customer Focus
                  .l-33-fl
                      h3 Cost-out Engineering
                      h4 Costs of existing and alternative products
                      p
                          | Concept evaluation
                          br
                          | Value Engineering (Function to Costs)
                          br
                          | Should-Cost (Partnership based)
              // .l-holder
          // .services-box
      // .middle
    include ./includes/footer.jade
