doctype html
html
  head
      title BIIR - Lean Engineering | Job
      include ./includes/meta.jade
  body
    .wrapper
      - var page = 'job'
      include ./includes/header.jade
      section.middle
          h2.text-center
            | Vacansies
            br
            span.blue  In Denmark
          .l-holder.vacancies-top-text
              .l-33-fl
                  h3 Hvad er Lorem Ipsum?
                  p Lorem Ipsum er ganske enkelt fyldtekst fra print- og typografiindustrien. Lorem Ipsum har været standard fyldtekst siden 1500-tallet, hvor en ukendt trykker sammensatte en tilfældig spalte for at trykke en bog til sammenligning af forskellige skrifttyper. Lorem Ipsum har ikke alene overlevet fem århundreder, men har også vundet indpas i elektronisk typografi uden væsentlige ændringer. Sætningen blev gjordt kendt i 1960'erne med lanceringen af Letraset-ark, som indeholdt afsnit med Lorem Ipsum, og senere med layoutprogrammer som Aldus PageMaker, som også indeholdt en udgave af Lorem Ipsum.
              .l-33-fl
                  h3 Hvorfor bruger vi det?
                  p Det er en kendsgerning, at man bliver distraheret af læsbart indhold på en side, når man betragter dens layout. Meningen med at bruge Lorem Ipsum er, at teksten indeholder mere eller mindre almindelig tekstopbygning i modsætning til "Tekst her – og mere tekst her", mens det samtidigt ligner almindelig tekst. Mange layoutprogrammer og webdesignere bruger Lorem Ipsum som fyldtekst. En søgning på Lorem Ipsum afslører mange websider, som stadig er på udviklingsstadiet. Der har været et utal af variationer, som er opstået enten på grund af fejl og andre gange med vilje (som blandt andet et resultat af humor).
              .l-33-fl
                  h3 Hvor kommer det fra?
                  p I modsætning til hvad mange tror, er Lorem Ipsum ikke bare tilfældig tekst. Det stammer fra et stykke litteratur på latin fra år 45 f.kr., hvilket gør teksten over 2000 år gammel. Richard McClintock, professor i latin fra Hampden-Sydney universitet i Virginia, undersøgte et af de mindst kendte ord "consectetur" fra en del af Lorem Ipsum, og fandt frem til dets oprindelse ved at studere brugen gennem klassisk litteratur. Lorem Ipsum stammer fra afsnittene 1.10.32 og 1.10.33 fra "de Finibus Bonorum et Malorum" (Det gode og ondes ekstremer), som er skrevet af Cicero i år 45 f.kr. Bogen, som var meget populær i renæssancen, er en afhandling om etik.
          // .l-holder
          .vacancies-table
              .l-holder
                  .l-33-fl
                        h4 Stilling
                  .l-33-fl
                        h4 Opgave
                  .l-33-fl
                        h4 Kvalifikationer
              // .l-holder.
              .l-holder
                  .l-33-fl
                        h4.blue Senior PHP Developer
                        p Due to the growth of our business, we are constantly looking for ASP.Net Developers to join our team of worldwide recognized experts.
                  .l-33-fl
                        ul.mark-list
                            li Participate in development of the massive backend task processing and document conversion systems in Java or .Net;
                            li Write automated tests and perform code reviews;
                            li Be part of the platform and DevOps initiatives;
                  .l-33-fl
                        ul.mark-list
                            li Have more than 2 years of experience in PHP development;
                            li University degree in Informatics, Computer Science or Software Engineering
                            li Excellent knowledge of ASP.NET, C#, MVC4, WebForms
                            li MS Sharepoint, Node.JS, API development experience;
                            li Experience with JavaScript & jQuery, HTML5 & CSS3
                            li Good command of English
              // .l-holder
              .l-holder
                  .l-33-fl
                        h4.blue Middle PHP Developer
                        p Due to the growth of our business, we are constantly looking for ASP.Net Developers to join our team.
                  .l-33-fl
                        ul.mark-list
                            li Participate in development of the massive backend task processing and document conversion systems in Java or .Net;
                            li Write automated tests and perform code reviews;
                            li Be part of the platform and DevOps initiatives;
                  .l-33-fl
                        ul.mark-list
                            li Have more than 2 years of experience in PHP development;
                            li University degree in Informatics, Computer Science or Software Engineering
                            li Experience with JavaScript & jQuery, HTML5 & CSS3
                            li Good command of English
              // .l-holder
              .l-holder
                  .l-33-fl
                        h4.blue Junior PHP Developer
                        p Due to the growth of our business, we are constantly looking for ASP.Net Developers
                  .l-33-fl
                        ul.mark-list
                            li Participate in development of the massive backend task processing and document conversion systems in Java or .Net;
                            li Write automated tests and perform code reviews;
                  .l-33-fl
                        ul.mark-list
                            li Experience with JavaScript & jQuery, HTML5 & CSS3
                            li Good command of English
              // .l-holder
          //.vacancies-table
          ul.btn-holder
              li
                  a.btn.open-popup(href='#') Write us

      // .middle
    include ./includes/footer.jade
    #popup-holder
        .popup
            a.close-popup(href='#') X
            form(action='#')
                filedset
                    .form-row
                        input(type='text', name='name', placeholder='Navn')
                    .form-row
                        input(type='text', name='email', placeholder='E-mail')
                    .form-row
                        input(type='text', name='phone', placeholder='Telefon')
                    .form-row
                        textarea(name='message', id='', cols='30', rows='10', placeholder='Besked')
                    .form-row
                        input(type='submit', value='Sende').btn
      // #popup-holder