doctype html
html
  head
      title BIIR - Lean Engineering | Job
      include ./includes/meta.jade
      script(type='text/javascript', src='js/jobs.js')
      script var jobs_lang = 'ukr';
  body
    .wrapper
      - var page = 'job'
      include ./includes/header.jade
      section.middle
          h2.text-center
            | Vacansies
            br
            span.blue  In Ukraine
          .l-holder.vacancies-top-text
              .l-33-fl
                  h3 Professionalism and security
                  p At BIIR allows you to combine the consultants' professional challenge with the tenured engineer's job security.

                  p You become a permanent employee at regular salaried-conditions, and you get through your professional specialty option for challenging, demanding and exciting projects on-site at our customers.

                  p You will join a project team with the customer and are typically responsible for a very specific task or subproject.

                  p The assignments typically last from 6-12 months, but the consultants are often longer by the same customer.

                  p When the task is completed, the BIIR a new assignment for you - and of course any time in line with or better than the previous.

                  p Alternatively, we work for you on one of our production companies, but the most common and the most fun is to work out at customers.
              .l-33-fl
                  h3 Engineering skills
                  p For applications in large industrial enterprises in East Jutland, inter alia, wind industry we constantly seek skilled engineers with extensive knowledge of a subject which could be typical design, development, FEM calculations, power, PLC programming, quality project management.

                  p You will join one of BIIR's specialist teams and you will experience a professional sparring and challenge at a very high level.

                  p You know the requirements and working in complex development projects and you always look for perfect solutions both functionally, aesthetically and acc. To current standards.

                  p And of course you also know that the structure and documentation combined with exuberant creativity and innovative engineering are the key to success.

                  p Our actual current vacancies you can see below, but we are always interested in competent engineers - regardless of discipline.
              .l-33-fl
                  h3 We set actually claim
                  p BIIR is a company with plenty of room for everyone, with good opportunities and with really good conditions of employment.

                  p But we expect much of our consultants.

                  p Our consultants typically have at least 5-10 years of net experience in their field and passionate about the practical work in the field and for the theory and vision behind.

                  p As a consultant in BIIR it is important that you are self-propelled and fully aware that the role of a consultant requires more professionally, collegially and socially than a year-long employment in one company.

                  p You must also be included in one of our core teams. A core team is the collaboration we build up with our Ukrainian consultants and specialists on specific tasks for our Danish customers.

                  p And as I said, we know that we demand a lot, but we also know that we can meet these.
          // .l-holder
          .vacancies-container
          //.vacancies-table
          ul.btn-holder
            li
                //- a.btn.open-popup(href='#') Write us
            li
              a.btn(href='mailto:mail@biir.dk') Send your CV

      // .middle
    include ./includes/footer.jade
    #popup-holder
        .popup
            a.close-popup(href='#') X
            form(action='#')
                filedset
                    .form-row
                        input(type='text', name='name', placeholder='Name')
                    .form-row
                        input(type='text', name='email', placeholder='E-mail')
                    .form-row
                        input(type='text', name='phone', placeholder='Phone')
                    .form-row
                        textarea(name='message', id='', cols='30', rows='10', placeholder='Message')
                    .form-row
                        input(type='submit', value='Send').btn
    // #popup-holder
