doctype html
html
  head
      title BIIR - Lean Engineering | Job
      include ./includes/meta.jade
      script(type='text/javascript', src='js/jobs.js')
      script var jobs_lang = 'dk';
  body
    .wrapper
      - var page = 'job'
      include ./includes/header.jade
      section.middle
          h2.text-center
            | Vacancies
            br
            span.blue  In Denmark
          .l-holder.vacancies-top-text
              .l-33-fl
                  h3 Faglighed og tryghed
                  p Hos BIIR får du mulighed for at kombinere konsulenternes faglige udfordring med den fastansatte ingeniørs tryghed i ansættelsen.
                  
                  p Du bliver fastansat på almindelige funktionær-vilkår, og du får gennem dit faglige speciale mulighed for udfordrende, krævende og spændende opgaver on-site hos vores kunder.
                  
                  p Du vil indgå i et projektteam hos kunden og bliver typisk ansvarlig for en helt konkret opgave eller et delprojekt.
                  
                  p Opgaverne varer typisk fra 6-12- måneder, men konsulenterne er ofte længere tid ved samme kunde.
                  
                  p Når opgaven er fuldført, finder BIIR en ny opgave til dig – og naturligvis helst på niveau eller bedre end den forudgående.
                  
                  p Alternativt har vi arbejde til dig på en af vores produktionsvirksomheder, men det mest normale og det sjoveste, er nu at arbejde ude ved kunderne.
              .l-33-fl
                  h3 Ingeniørkunst
                  p Til opgaver i større industrivirksomheder i Østjylland bl.a. vindmølleindustrien søger vi til stadighed kompetente ingeniører med indgående kendskab til et fagområde, som kunne være typisk konstruktion, udvikling, FEM-beregninger, stærkstrøm, PLC-programmering, kvalitet projektledelse.

                  p Du vil indgå i et af BIIR’s specialistteams og du vil opleve en faglig sparring og udfordring på et meget højt niveau.

                  p Du kender til krav og arbejdsform i komplekse udviklingsprojekter og du går altid efter perfekte løsninger både funktionelt, æstetisk og iht. gældende normer.

                  p Og naturligvis ved du også, at struktur og dokumentation kombineret med sprudlende kreativitet og nytænkende ingeniørkunst er nøgleordene til succes.

                  p Vores helt aktuelle ledige positioner kan du se herunder, men vi er altid interesserede i kompetente ingeniører – uanset fagområde.
              .l-33-fl
                  h3 Vi stiller faktisk krav
                  p BIIR er en virksomhed med god plads til alle, med gode muligheder og med rigtigt gode ansættelsesvilkår.

                  p Men vi forventer meget af vores konsulenter.

                  p Vores konsulenter har typisk mindst 5-10 års nettoerfaring inden for deres fag og brænder for både for det praktiske arbejde på området og for den teori og vision, der ligger bag.

                  p Som konsulent i BIIR er det vigtigt, at du er selvkørende og helt bevidst om, at rollen som konsulent kræver mere både fagligt, kollegialt og socialt end en årelang ansættelse i en virksomhed.

                  p Du skal også kunne indgå i et af vores core-teams. Et core-team er det samarbejde vi bygger op med vores ukrainske konsulenter og specialister omkring konkrete opgaver for vores danske kunder.

                  p Og som sagt, vi ved godt, at vi stiller store krav, men vi ved også, at vi kan honorere disse.
          // .l-holder
          .vacancies-container
          //.vacancies-table
          ul.btn-holder
            //- li
            //-   a.btn.open-popup(href='#') Write us
            li
              a.btn(href='mailto:mail@biir.dk') Send your CV

      // .middle
    include ./includes/footer.jade
    #popup-holder
        .popup
            a.close-popup(href='#') X
            form(action='#')
                filedset
                    .form-row
                        input(type='text', name='name', placeholder='Navn')
                    .form-row
                        input(type='text', name='email', placeholder='E-mail')
                    .form-row
                        input(type='text', name='phone', placeholder='Telefon')
                    .form-row
                        textarea(name='message', id='', cols='30', rows='10', placeholder='Besked')
                    .form-row
                        input(type='submit', value='Sende').btn
      // #popup-holder
