doctype html
html
  head
      title BIIR - Lean Engineering | Work
      include ./includes/meta.jade
  body
    .wrapper
      - var page = 'work'
      include ./includes/header.jade
      section.middle
          h2
              | Explore how we work through our
              span.blue  cases and customer statements
          .work-box
              .l-holder
                  .l-600-fx
                      iframe(src='http://player.vimeo.com/video/87647425', width='600', height='338', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                  .l-50-fl
                      h3 Vestas collaboration
                      p.serif-text BIIR has been collaborating with Vestas for several years supplying specialized services within the field of Wind Energy.
                      p.serif-text Have a look at the video and get some valuable insights about the collaboration process from Global Manager, Value Engineering Dan Ørum Moritz.
              // .l-holder
              .l-holder
                  .l-600-fx
                      iframe(src='http://player.vimeo.com/video/88885829', width='600', height='338', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                  .l-50-fl
                      h3 Development process talk with John T. Olesen
                      p.serif-text We talked to one of our long time customers about the benefits and reasons for using consultants in the development process.
              // .l-holder
              .l-holder
                  .l-600-fx
                      iframe(src='http://player.vimeo.com/video/99609816?byline=0&amp;portrait=0', width='600', height='338', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                  .l-50-fl
                      h3 Grundfos collaboration
                      p.serif-text Statement from one of our customers about the benefits and reasons for using BIIR-consultants for process improvements.
              // .l-holder
              .l-holder
                  .l-600-fx
                      iframe(src='http://player.vimeo.com/video/103248974?byline=0&amp;portrait=0', width='600', height='338', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                  .l-50-fl
                      h3 Zülau collaboration
                      p.serif-text Statement from CEO Palle Ulrich Zulau from Zülau about the benefits and reasons for using consultants in their product development process.
              // .l-holder
              .l-holder
                  .l-600-fx
                      iframe(src='http://player.vimeo.com/video/99014210?byline=0&amp;portrait=0', width='600', height='338', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                  .l-50-fl
                      h3 Dali collaboration
                      p.serif-text Statement from one of our customers about the benefits and reasons for using design consultants in their development process.
              // .l-holder
              .l-holder
                  .l-600-fx
                      iframe(src='http://player.vimeo.com/video/98358672', width='600', height='338', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
                  .l-50-fl
                      h3 Dantoy collaboration
                      p.serif-text Statement from one of our customers about the benefits and reasons for using design consultants in their development process.
              // .l-holder
              .l-holder
                  .l-600-fx
                      img.l-600-fx(src='images/work-vestas-img.jpg', alt="vestas plane photo")
                  .l-50-fl
                      h3 BIIR has been recognized on 10 patents on the Vestas V164 – 7.0MW offshore turbine
                      p.serif-text We develop new product solutions for the Wind Energy industry. Together with our clients our group of engineers, program managers and designers - with up to 18 years of industry experience - deliver solid solutions to leading Wind Power manufactures.
                      p.serif-text To learn more about our competences in the field of renewable energy please see:
                      h4
                          em Special Focus Wind Energy
              // .l-holder
          // .work-box
      // .middle
    include ./includes/footer.jade
