%afterClear {
  display: block;
  content: '';
  clear: both;
}
%decorEl {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 0;
}
%vertical-aligment {
  font-size: 0;
  >* {
    font-size: 14px;
  }
  &:after {
    min-height: 100%;
    display: inline-block;
    content: '';
    vertical-align: middle;
  }
}
%wrapper-holder {
  max-width: $siteMaxWidth;
 // padding:0 $siteSidePaddings;
  min-width: $siteMinWidth - $siteSidePaddings*2;
  margin: 0 auto;
}