$fontSize: 14px;
$linkColor: #ff0;
$mainColor: #000;
$textColor: #333;
$addColor: #22c3f2;
$addTextColor: #35c3e4;
$siteMaxWidth: 1250px;
$siteMinWidth: 320px;
$siteSidePaddings: 10px;
$fontMain:Helvetica;
$fontHeaderNav:'Purista-Light';
$fontHeaderNavBold:'Purista-SemiBold';
$fontHeadings:'LucidaSansUnicode-Regular';
$fullWidth:100%;