.services-box {
  .l-holder {
    display: table;
    margin: 40px 0 0;
    &:first-child {
      margin: 0;
    }
  }
  h3 {
    margin: 0;
    color: $addColor;
  }
  .l-33-fl {
    border-left: 1px solid $textColor;
    padding: 5px 75px 5px 5px;
    display: table-cell;
    &:first-child {
      border-color: transparent;
    }
    p {
      margin-bottom: 10px;
    }
  }
}