footer#footer
  .footer-holder
      .holder
        ul.footer-info-list
          li
            | BIIR - Lean Engineering - Denmark
          li
            dl
              dt Email:
              dd
                a(href='mailto:mail@biir.dk') mail@biir.dk
          li
            dl
              dt CVR nr.:
              dd 31762022
        strong.logo
          a(href='index.html')
            img(src='images/logo-footer.png', alt='BIIR')
// #footer
